<% include ../_main_/head %>
<% include ../_main_/paginator %>
<% include ../_main_/body_head %>
<% include ../_main_/control %>
<% include ../_main_/table %>
<% include ./service_package_add_dlg%>
<% include ./service_package_select_dlg%>
<% include ../_main_/body_foot %>
<script  LANGUAGE="JavaScript">
    $("document").ready(function(){
        //分页功能
        var page=$('#page1');
        if( $.getUrlVar("querydata")){
            document.getElementById("input_search").value = $.getUrlVar("querydata");
        }
        var querydata = document.getElementById("input_search").value;
        var options = {
            bootstrapMajorVersion:3,
            currentPage:page.attr('pageNum'),
            totalPages:page.attr('pageCount'),
            numberOfPages:page.attr('numberOfPages'),
            pageUrl: function(type, page, current){
                return "service_package?"+composeUrlParams()+"&p="+page;
            }
        };
        $('#page1').bootstrapPaginator(options);
    });
    $("a#id_btn_add_obj").click(function() {
        //设置值
        $("input#inputObjID").attr("value","");
        <%for(var i=0; i<model.length; i++){%>
        <%if(!widget.hasOwnProperty(model[i])
            ||!widget[model[i]].hasOwnProperty("type"))
            continue;
        %>
        <%if(widget[model[i]].type=="text"){%>
        $("input#input<%=model[i]%>").attr("value","");
        <%}else if(widget[model[i]].type=="multiple_select"){%>
        $("select#input<%=model[i]%>").html("");
        <%}%>
        <%}%>
        //设置控件
        $("h4#myModalLabel-modify").hide();
        $("h4#myModalLabel-add").show();
        $("div#id_modify_dlg_ctrl").hide();
        $("button#id_btn_add_service_package").show();
        $("button#id_btn_modify_service_package").hide();
    });
    $("a#id_modify_user").click(function(){
        //设置值
        var detail =  $(this).attr('detail');
        var encoded = eval("("+detail+")");
        $("input#inputObjID").attr("value",encoded._id);
        <%for(var i=0; i<model.length; i++){%>
        <%if(!widget.hasOwnProperty(model[i])
        ||!widget[model[i]].hasOwnProperty("type"))
            continue;
        %>
        <%if(widget[model[i]].type=="text"){%>
        $("input#input<%=model[i]%>").attr("value",encoded["<%=model[i]%>"]);
        <%}else if(widget[model[i]].type=="select"){%>
        $("select#input<%=model[i]%>").val(encoded["<%=model[i]%>"]);
        <%} else if(widget[model[i]].type=="multiple_select"){%>
        $("select#input<%=model[i]%>").html("");
        var temp = encoded["<%=model[i]%>"];
        for (var j=0;j<temp.length;j++)
        {
            var newOption = "<option value='"+JSON.stringify(temp[j])+"'>"+temp[j].Name+"</option>";
            $("select#input<%=model[i]%>").append(newOption);
        }
        <%}%>
        <%}%>
        //设置控件
        $("h4#myModalLabel-modify").show();
        $("h4#myModalLabel-add").hide();
        $("div#id_modify_dlg_ctrl").show();
        $("button#id_btn_add_service_package").hide();
        $("button#id_btn_modify_service_package").show();
        $("#modal-container-858025").modal('show');
    });
    $("button#id_search").click(function(){
        var querydata = document.getElementById("input_search").value;
        window.location = "http://127.0.0.1:3000/service_package?p=-1"+"&querydata="+querydata;
    });
</script>
<% include ../_main_/foot %>
