<ul class="list-group">
    <li class="list-group-item"><B>Switch:</B><a href="javascript:select_and_show('switch','<%=sw%>')"><%=sw%></a></li>
    <li class="list-group-item"><B>Port:</B><%=port_info.Name%></li>
    <li class="list-group-item"><B>Index:</B><%=port_info.Port%></li>
    <li class="list-group-item"><B>Mac:</B><%=port_info.Mac%></li>
    <li class="list-group-item"><B>BrName:</B><%=port_info.BrName%></li>
</ul>